/*layout_2.css*/
/*2012-03-30*/
body{ 
	font-family:Verdana; 
	font-size:34px; 
	margin:0;}
#container{
	margin:0 auto; 
	width:900px;}
#header{ 
	height:100px; 
	background:#6cf;
	margin-bottom:5px;}
#mainContent{ 
	margin-bottom:5px;}
#sidebar{
	float:left; 
	width:200px; 
	height:500px;
	background:#9ff;}
#content{ 
	float:right; 
	width:695px; 
	height:500px; 
	background:#cff;}
