/*2012-03-30*/
body { font-family:Verdana; font-size:24px; margin:0;}
#container{
	margin:0 auto; 
	width:100%;}
#header { 
	height:100px; 
	background:#9c6; 
	margin-bottom:5px;}
#menu { 
	height:30px; 
	background:#693; 
	margin-bottom:5px;}
#mainContent {
	margin-bottom:5px;}
#sidebar {
	float:left; 
	width:200px;
	background:#cf9;}
#content { 
	margin-left:205px !important; 
	margin-left:202px; 
	height:auto !important;
	height:100px; 
	background:#ffa;}
/*当content设定高度后，3像素会跑到content外侧，这样，我们用!important修正在ie下向左多浮动2像素，加上3像素的bug正好是5像素，所以在火狐和IE下显示是一样的*/
#footer { 
	height:60px; 
	background:#9c6;}
	.clearfloat { 
	clear:both; 
	height:0; 
	font-size: 1px;
	line-height: 0px;}